.umra-content{
  h1{
   @apply text-xl md:text-3xl text-center md:max-w-[80%] mx-auto mb-4;
  }
  h2{
    @apply text-lg md:text-xl mb-3 italic font-semibold;
  }
  h4{
    @apply text-base md:text-lg my-3;
  }
  p{
    @apply text-base md:text-lg my-3 mb-1 mt-4 font-medium;

  }
}

.ramadan-content{
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 25px;
  p{
    max-width: 90%;
  }
}

.umra-info{
  h1{
    text-align: center;
    @apply text-xl md:text-2xl mb-2 mt-6 md:mt-8;
  }
  h2{
    text-align: center;
    @apply text-lg md:text-xl my-1 mt-6;

  }
  p{
    @apply text-base md:text-lg;
  }
  br{
    margin: 4px 0;
    display: block;
    }

  p:last-child{
    @apply pt-6 md:pt-8 text-xl md:text-2xl font-semibold text-center;
  }
}